@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

text {
    color: #121212;
}

div {
    display: block;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.container {
    border: 2px solid #121212;
    box-shadow: 2px 2px 0px 0px #121212;

}

p {
    line-height: 2.4;
    font-size: 1vw;
}

h3 {
    text-align: center;
    margin: 0;
}

th {
    font-size:small;
    border-bottom: 3px solid black;
}

td {
    font-size: small;
    border-bottom: 1px solid black;
}

::-webkit-scrollbar {/*the scrollbar.*/
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 12px;
    height: 0px;
}

::-webkit-scrollbar-thumb {/*the draggable scrolling handle.*/
    border-radius: 6px;
    background-color: #121212;
}

::-webkit-scrollbar-track {/*the track (progress bar) of the scrollbar.*/
    background-color: #e9e9e9;
    border-radius: 8px;
}

#main {
    height: 100%;
    width: 100%;
    border-radius: 0px;
    margin: 0px;
    padding: 6px 10px;
    margin-right: 0px;
}

#searchHeaderWrapper {
    margin: 0px;
}

#search {
    min-height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;    
    margin: 0;
}

#currentmapwrapper {
    min-height: 260px;
    height: 30%;
    display: flex;
}

#current {
    display: inline-block;
    min-width: 460px;
    width: 35%;
    margin: 0px;
    position: relative;
}
#hourlyChartRow {
    margin: 0px;
    width: 100%;
    height: 35%;
}

#hourlyTilesRow{
    margin: 0px;
    white-space: nowrap;
    min-height: fit-content;
    height: 65%;
    display: flex;
}

#hourlyTiles{
    display: flex;
}

#dailyTilesRow{
    margin: 0px;
    white-space: nowrap;
}

#hourly {
    width: 100%;
    overflow: auto;
    min-height: fit-content;
    height: 30%;

}


#daily {
    width: 100%;
    overflow: auto;
    height: fit-content;
}

.tileWrapper {
    min-width: 150px;
    width: 12.5vw;
    min-height: 120px;
    height: 12.5vw;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;

}

.tileContainer{
    padding: 0px 8px;
    display: block;
    margin-top: 6px;
}

.lessInfo{
    

}

.moreInfo {

}



.lessInfoWrapper {

}

#daily .lessInfoWrapper {
    margin-top: 5px;
}

#hourly .moreInfoWrapper {
    margin-top: 14px;
}

#hourly .lessInfo {
    margin-bottom: 2px;
}

#hourly .moreInfo {
    margin-bottom: 2px;
}

#daily .moreInfoWrapper {
    margin-top: 6px;
}

#hourly .moreInfoWrapper p {
    font-size: small;
    line-height: 1.6;
    text-align: center;
}

#daily .moreInfoWrapper p {
    font-size: small;
    line-height: 1.6;
    text-align: center;
}

.tooltip {
    margin-top: 6px;
    margin-bottom: 2px;
}

#daily .tooltip {
    margin-bottom: 10px;
}

.weatherTileDate {
    font-size: medium;
    text-align: center;
}

.weatherTileTemp {
    font-size: medium;
    text-align: center;
    margin-bottom: 5px;
}

.weatherTileIcon {
    position: relative;
    left: calc(50% - 24px);

}

.weatherTileStatus {
    text-align: center;
}

#daily .moreInfoWrapper .weatherTileTooltip {
    line-height: 1.6;
}

.weatherInfo {

}

.weatherTileTemp {
    padding-left: 18px;
}

.weatherTileTimeDate {
    font-size: small;
    text-align: center;
    color: #181818;
}



#hourlyHeader, #dailyHeader{
    padding-left: 12px;
    height: fit-content;

}

#hourlyHeader br {
    height: 0px;
}

#currentHeader {
    padding-left: 12px;
    font-size: x-large;
    height: 15%;
}

#currentContentWrapper {
    margin: 0;
    display: flex;;
    height: 85%;
}

#currentIcon {
    position: relative;
    display: inline-block;
    margin: 0;
    height: 40%;
    width: auto;
}

#currentIconWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 50%;
    top: 55%;
    transform: translateY(-45%);
}

#currentInfoWrapper {
    width: 50%;
}

#currentInfo {
    position: relative;
    font-size: large;
    padding-left: 16px;
    line-height: 1.8;
    top: 45%;
    transform: translateY(-55%);
   
}

#location {
    position: relative;
    min-height: 20px;
    border-radius: 8px;
    border: none;
    color: #121212;
    border: #121212 2px solid;
    box-shadow: 1px 1px 0px 0px #121212;
    padding-left: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: 216px;
}

#locButton {
    min-height: 20px;
    min-width: 26px;
    border-radius: 6px;
    border: none;
    margin-left: 4px;
    margin-right: 4px;
    border: #121212 2px solid;
    box-shadow: 1px 1px 0px 0px #121212;
    background-color: #FFFFFF;
    color: #121212;
    transform: translateZ(0) scale(1);
    transition: transform .1s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

#locButton:hover {
    transform: scale(1.05);
 }
  
#locButton:hover:active {
    transform: scale(1.05) translateY(.08rem);
}

.form {
    box-sizing: border-box;
}

#location:focus {
    outline:none;
}

#location::placeholder {
    color:black;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    width: 46px;
    min-height: 20px;
    margin-right: 4px;

  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
    border: #121212 2px solid;
    box-shadow: 1px 1px 0px 0px #121212;
  }

  .slider::after {
    position:absolute;
    right: 8px;
    top: 0px;
    content: "C";
  }

  /*the little box in the slider */
  .slider:before {
    position: absolute;
    content: "";
    min-height: 12px;
    min-width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: #121212;
    -webkit-transition: .4s;
    transition: .4;
    border-radius: 4px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:checked + .slider:after {
    position: absolute;
    content: "F";
    color: #121212;
    left: 8px;
    top: 0px;
  }

#mapAirWrapper {
    margin: 0px;
    margin-left: 10px;
    display: flex;
    min-width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
}

#mapAirWrapper::-webkit-scrollbar {/*the scrollbar.*/
    background-color: #121212;
    border-radius: 6px;
    height: 14px;
}

#map {
    width: 60%;
    display: inline-block;
    position: relative;
    margin: 0px;
}

#airPolWrapper {
    display:inline-block;
    position: relative;
    min-height: 260px;
    margin: 0px;
    margin-left: 8px;
    min-width: 330px;
    width: 40%;
}

#timeHeader {
    margin: 0px;
    /* line-height: 2; */
    text-align: center;
}

#airPolDataWrapper {
    margin: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

#table {
    margin-left: auto;
    margin-right: auto;
}

#moreInfo {
    text-align: center;
}

canvas {
   border: #121212 2px solid;
   border-radius: 6px;
   padding: 6px;
   box-shadow: #121212 1px 1px 0px 0px;
}

#hourlyWrapper {
    display: flex;
    width: 100%;
}

#leftArrowWrapper, #rightArrowWrapper {
    display: flex;
    min-width: 20px;
    width: 5vw;
    margin: 0px;
    margin-right: 10px;
    border-radius: 4px;
    z-index: 1;
}

#rightArrowWrapper {
    margin: 0px;
    margin-left: 10px;
}


#leftArrow, #rightArrow {
    position: relative;
    display: inline-block;
    border: #121212 2px solid;
    background-color: #FFFFFF;
    box-shadow: #121212 1px 1px 0px 0px;
    min-width: 20px;
    width: 5vw;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    border-radius: 4px;
    transform: translateZ(0) scale(1);
    transition: transform .1s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}